@font-face {
  font-family: "Made Evolve Sans";
  src: url("./fonts/made_evolve_sans_regular-webfont.woff") format("woff2"), url("./fonts/made_evolve_sans_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Made Evolve Sans";
  src: url("./fonts/made_evolve_sans_bold-webfont.woff2") format("woff2"), url("./fonts/made_evolve_sans_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Made Evolve Sans";
  src: url("./fonts/made_evolve_sans_light-webfont.woff2") format("woff2"), url("./fonts/made_evolve_sans_light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  font-size: 18px;
}

#app {
  font-family: 'Made Evolve Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #102535;
  font-size: 1em;
  line-height: 1.7;
}